body {
  background: #654ea3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

/* .container { */
/*   display: flex; */
/*   flex-direction: column; */
/*   padding-top: 30; */
/* } */
@import url("https://rsms.me/inter/inter.css");

:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #e6be52;

  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);

  --size-bezel: 0.5rem;
  --size-radius: 4px;

  // line-height: 1.4;

  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  color: var(--color-text);
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  color: var(--color-light);
}

.input {
  position: relative;
  flex: 3;

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
    background: pink;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(-color-accent);
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
  }
  &__field {
    color: var(--color-light);
    box-sizing: border-box;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border: 3px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    background: transparent;
    border-radius: var(--size-radius);

    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(0.25rem, -65%) scale(0.8);
        color: var(--color-accent);
      }
    }
  }
}

button {
  color: currentColor;
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: var(--color-accent);
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;

  &[type="reset"] {
    background: var(--color-background);
    font-weight: 200;
  }
}

.hidden {
  display: none;
}

.header {
width: 100%;
position: relative;
height: 600px;
background-image: url("fondo.jpeg");
background: #4568dc8a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b16ab388, #4568DC),url("fondo.jpeg");  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b16ab38a, #4568dc85),url("fondo.jpeg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: relative;

}

.header__logo1 {
  display: absolute;
  z-index: 1;
  margin-top: 2%;
  width: 20%;
  // height: 100%;
}
.header__logo2 {
  display: absolute;
  z-index: -1;
  margin-left:59%;
    width: 20%;
    // height: 100%;
  }

.header__text {
  width: 50%;
  font-size: 300%;
  margin-top: -9%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
}

.tex{
  width: 100%;
  font-size: 300%;
}
.controller-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.download-button {
  flex: 1;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
}

.imagen{
  text-align: center;
}
